 <div class= "panel panel-default">
 	<div class= "panel-body">
 		<% if @listings.blank? %>
      		<h4>There are no listings containing the term <%= params[:search] %>.</h4>
 		<% end %>
	</div>
</div>

<div class="row">
	<% if signed_in?%>
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Your Listing", listing_path(current_user), class:"sidebar-link active"%></li>
			<li class="sidebar-item"><%= link_to "Your Reservations", listing_path(current_user), class:"sidebar-link"%></li>
		</ul>
	</div>
	<% end %>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Listings
			</div>
			<div class="panel-body">
				<% if @listings.empty? == false %>
					<%= will_paginate @listings %>
					<% @listings.each do |list| %>
						<div class="row">
							<div class="col-md-2">
								<% if list.images[0] != nil %>
								<%= link_to (image_tag list.images[0].url(:thumb), class: 'image-thumb'), listing_path(list) %>
								<% end %>
							</div>
							<div class="col-md-7">
								
							</div>
							<div class="col-md-3 right">
								<h4><%= link_to ( list.listing_name), listing_path(list) %></h4>
								<%= link_to "Update", edit_listing_path(list), class: "btn btn-primary"%>
								<% if signed_in? %>
								<% if current_user.superadmin? %>
								
								<div>
									<%= link_to_toggle_listing_verify list %>
								</div>
								<% end %>
								<% end %>
							</div>
						</div>
						<hr/>
					<% end %>
				<% else %>
					<p> No listings have been posted.</p>
				<% end %>
			</div>
		</div>
	</div>	
</div>
